.comment {
    animation: fadein 0.8s;
  }
  
.comment-option {
    font-size: 14px;
    opacity: 0.5;
    margin-right: 5px;
    text-decoration: underline!important;
    cursor: pointer;
}

@keyframes fadein {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}