.comment-form-line {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.comment-form-error-text {
    margin-left: 64px;
    margin-top: 0;
}