.container {
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.835);
    -webkit-box-shadow: 6px 6px 26px -4px rgba(33,28,33,1);
    -moz-box-shadow: 6px 6px 26px -4px rgba(33,28,33,1);
    box-shadow: 6px 6px 26px -4px rgba(33,28,33,1);
    padding: 20px 20px;
  }
  